
images/raw/*
images/test/*
images/train/*
scripts/models/*

training_first_attempt/*.index
training_first_attempt/*.meta
training_first_attempt/model.ckpt-3264.data-00000-of-00001
training_first_attempt/model.ckpt-3428.data-00000-of-00001
training_first_attempt/model.ckpt-3592.data-00000-of-00001
training_first_attempt/model.ckpt-3755.data-00000-of-00001
training_first_attempt/model.ckpt-3920.data-00000-of-00001
training_first_attempt/checkpoint
training_first_attempt/events.out.tfevents.1590149948.macbook-air-de-loris.home
training_first_attempt/graph.pbtxt
training_first_attempt/pipeline.config


training_second_attempt/*.index
training_second_attempt/*.meta
training_second_attempt/checkpoint
training_second_attempt/events.out.tfevents.1590396092.macbook-air-de-loris.home
training_second_attempt/graph.pbtxt
training_second_attempt/model.ckpt-3140.data-00000-of-00001
training_second_attempt/model.ckpt-3307.data-00000-of-00001
training_second_attempt/model.ckpt-3472.data-00000-of-00001
training_second_attempt/model.ckpt-3637.data-00000-of-00001
training_second_attempt/model.ckpt-3802.data-00000-of-00001
training_second_attempt/pipeline.config
